<!DOCTYPE HTML>
<html>
	<head>
		<title>Will Licensing Agreement</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="../static/assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jSignature/2.1.2/jSignature.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="../static/assets/js/WillAngular.js" type="text/javascript"></script>
	</head>
	<body>
		<body id="body" ng-app="app">

	  <div id="content" ng-controller="Controller">

		{% verbatim %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Sign Up Now to View Unlimited Properties</h1>
							</div>
						</div>
						<nav>
							<ul>
								<li><form>Name:
										<input type="text" ng-model="Name">
										</form></li>
								<li><form>Address:
												<input type="text" ng-model="Address">
												</form></li>
								<li><form>Email:
														<input type="text" ng-model="Email">
														</form></li>
								<li><form>Phone Number:
														<input type="text" ng-model="PhoneNum">
														</form></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
							<div>
							<a href="#Agreement">
							<li style="list-style-type:none">
								<form ng-submit="Credentials(Name, Address, Email, PhoneNum)">
								<input onClick="window.location.href='#Agreement'" type="submit" Value="Submit"></input>
								</form>
							</li>
						</a>
							</div>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="Agreement">
								<h2 class="major">Please Register To view Property</h2>
								<ul>
									<li style="list-style-type:none; align-items:center;">
										<input type="button" onClick="window.location.href='#Signature'" value="Agree">
									</li>
								</ul>
								<iframe ng-src="{{clientName}}" width="800px" height="1100px"></iframe>

							</article>

						<!-- Work -->
							<article id="Signature">
								<h2 class="major">Signature</h2>
								<h2>Please Sign in the Space Below</h2>
								<div id="SignatureController">
								</div>
								<div id="PrintSignatureController">

								</div>
								<button onClick="window.location.href='#ThankYou'" id="Getsign">Finished</button>
								<script type="text/javascript">
									$(document).ready(function() {
										function getCookie(name) {
										    var cookieValue = null;
										    if (document.cookie && document.cookie !== '') {
										        var cookies = document.cookie.split(';');
										        for (var i = 0; i < cookies.length; i++) {
										            var cookie = jQuery.trim(cookies[i]);
										            // Does this cookie string begin with the name we want?
										            if (cookie.substring(0, name.length + 1) === (name + '=')) {
										                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
										                break;
										            }
										        }
										    }
										    return cookieValue;
										}
										var csrftoken = getCookie('csrftoken');
										function csrfSafeMethod(method) {
											    // these HTTP methods do not require CSRF protection
											    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
											}
											$.ajaxSetup({
											    beforeSend: function(xhr, settings) {
											        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
											            xhr.setRequestHeader("X-CSRFToken", csrftoken);
											        }
											    }
											});
										var dataString;
										  $("#SignatureController").jSignature({
										    'decor-color': 'transparent',
												'color': 'black',
												'background-color': 'white',
										    'lineWidth': 1,
										  });
											$('#Getsign').click(function () {
														dataString = $("#SignatureController").jSignature("getData");

														//Make a post call to the server/database to add a new user db table
														if (dataString) {
														var request = $.ajax({
													  url: "/signatureCapture",
														headers: {'X-CSRFToken': '{{ csrf_token }}'},
													  type: "POST",
													  data: dataString,
													  contentType: "application/json"
													});
												};

													request.done(function(msg) {
													  $("#log").html( msg );
													});

													request.fail(function(jqXHR, textStatus) {
													  console.log('something unxpected happened, time to panic!');
													});
													});
										});
										</script>
							</article>

						<!-- About -->
							<article id="ThankYou">
								<h2 class="major">Thank You</h2>
							</article>


					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Will Bear Realty in Association with Josh Woods Design</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		</div>

		{% endverbatim %}
			<!-- Scripts -->
				<script src="../static/assets/js/skel.min.js"></script>
				<!-- <script src="../static/assets/js/util.js"></script>-->
				<!-- Flask Tag for Angular interpolation -->

				<!-- Scripts -->
				<!-- Local Angular App-->
		    <script src="../static/assets/js/main.js" type="text/javascript"></script>

	</body>
</html>
